@model List<KURSMVC.Models.KURSIYER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var ogrenım_adı = ViewData["ogrenım_adı"] as List<KURSMVC.Models.OGRENIM>;
}
<div>
    <form id="frm1" method="post" action="~/Admin/Kursiyer/Ara" class="form-inline">
        <input type="text" name="txtAra" id="txtAra" @*value="@ara"*@ class="form-control" placeholder="Eğitim Adını Giriniz." />
        <input type="submit" value="Ara" class="btn btn-default" />
        <a href="~/Admin/Kursiyer/KayitFormu" class="btn btn-default">Yeni</a>
    </form>
</div>
<script>
    function SilOnay()
    {
    var sonuc=confirm("Kayıt Silinsin Mi?");
    return sonuc;
    }
</script>
<div id="liste" class="table-responsive">
    @{
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Sil</th>
                <th>Düzenle</th>
                <th>ADI</th>
                <th>SOYADI</th>
                <th>CINSIYET</th>
                <th>ÖĞRENİM DURUMU</th>
                <th>ADRES</th>
                <th>TELEFON</th>
                <th>CEP</th>
                <th>MAIL</th>
                <th>ACIKLAMA</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
        <tr>
            <td><a href="~/Admin/Kursiyer/Sil/@Model[i].KURSIYER_REFNO">Sil</a></td>
            <td><a href="~/Admin/Kursiyer/KayitFormu/@Model[i].KURSIYER_REFNO">Düzenle</a></td>
            <td>@Model[i].ADI</td>
            <td>@Model[i].SOYADI</td>
            <td>@Model[i].CINSIYET</td>
            <td>@Model[i].ADRES</td>
            <td>@Model[i].OGRENIM.OGRENIM_ADI</td>
            <td>@Model[i].TELEFON</td>
            <td>@Model[i].CEP</td>
            <td>@Model[i].MAIL</td>
            <td>@Model[i].ACIKLAMA</td>
        </tr>
            }
        </table>
    }
</div>



