@model KURSMVC.Models.OGRENIM
@{
    ViewBag.Title = "KayitFormu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-1.7.1.min.js")
@Scripts.Render("~/ckeditor/ckeditor.js")
@Scripts.Render("~/ckeditor/ckfinder/ckfinder.js")
@Scripts.Render("~/Scripts/jquery.validate.js")
<script src="~/ckfinder/ckfinder.js"></script>
<div id="kayit">
    <form id="frm2" method="post" action="~/Admin/Ogrenim/KayitFormu" class="form-horizontal">
        <div class="form-group">
            <div>Öğrenim Refno</div>
            <div><input type="text" name="OGRENIM_REFNO" id="OGRENIM_REFNO" value="@Model.OGRENIM_REFNO" /></div>
        </div>
        <div class="form-group">
            <div>Öğrenim Adı</div>
            <div><input type="text" name="OGRENIM_ADI" id="OGRENIM_ADI" value="@Model.OGRENIM_ADI" /></div>
        </div>
            <div class="text-center">
                <input type="submit" value="Kaydet"  class="btn btn-default"/>
                <a href="~/Admin/Ogrenim/Index"  value="Vazgec" class="btn btn-default">Vazgeç</a>
            </div>
    </form>
</div>
<script type="text/javascript">
    var editor = CKEDITOR.instances['OGRENIM_ADI'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('OGRENIM_ADI', {
        enterMode: CKEDITOR.ENTER_BR,
    });
    @*CKFinder.setupCKEditor(null, '@Url.Content("~/ckeditor/ckfinder/")');*@
</script>
